* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  background-color: white;
}

header {
  flex: auto;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  max-height: 20%;
  max-width: 20%;
  font-size: 35px;
}

nav {
  
}

img {
  max-width: 20%;
  max-height: 20%;
  margin: 0;
}