* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  /* background-image: url(./flag.png);
  border-radius: 5%;
  background-size: 100% 100%;
  background-position: center;
  height: 300px; 
  width: 100%; 
  align-items: center;
  flex-wrap: wrap;  */
  margin: 50px;
} 

.col {
  background-image: url(./flag.png);
  border-radius: 5%;
  background-size: 100% 100%;
  background-position: center;
  height: 400px; 
  width: 600px; 
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.platinum {
  font-size: 30px;
  color:rgb(208, 208, 208);
  margin: 0;
  padding-right: 20px;
  text-align: right;
}

#visa {
  height: 130px;
  width: 130px;
  float: right;
  margin: -170px 20px;
}

.chip {
  height: 50px;
  width: 50px;
  margin: 50px;
}

.tap {
  height: 50px;
  width: 50px;
  margin: -60px;
}

#cc-number {
  color:rgba(49, 49, 49, 0.997);
  text-shadow: 2px;
  font-size: 40px;
  align-items: center;
  justify-content: space-between;
  margin-left: 100px;

}

.expiration {
  line-height: 20px;
}

p {
  /* line-height: 12px; */
}






